<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DVTPlugInCompatibilityUUIDs</key>
	<array>
		<string>DFFB3951-EB0A-4C09-9DAC-5F2D28CC839C</string>
		<string>ACA8656B-FEA8-4B6D-8E4A-93F4C95C362C</string>
		<string>CA351AD8-3176-41CB-875C-42A05C7CDEC7</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Maxim Makhun. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>Drawer</string>
	<key>XCGCReady</key>
	<true/>
	<key>XCPluginHasUI</key>
	<false/>
	<key>XC4Compatible</key>
	<true/>
</dict>
</plist>
